// line height

p {
  line-height: 1.2em;
}

.bigger-text {
  font-size: 1.3em;
  line-height: 2rem;
  // font-weight: bold;
}
.huge-text {
  font-size: 2em;
  line-height: 2rem;
  // font-weight: bold;
}

.no-padding {
  padding-bottom: 0 !important;
}
.no-margin {
  margin-bottom: 0 !important;
}
.small-padding {
  padding-bottom: 8px !important;
}

.no-link {
  color: white;
  text-decoration: none !important;
}

.link-hover {
  &:hover {
    color: lighten($primary-color, 15%);
    border-color: lighten($primary-color, 15%);
  }
}

.underline {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid $primary-color;
}

.bordered-text {
  border: 3px solid $alert-color;
  border-radius: 15px;
  padding: 20px;
}

.img-center {
  margin: 0 auto;
}

.img-avatar {
  height: 70%;
  width: auto;
}



// Color classes
.purple-text {
  color: $purple;
}
.alert-text {
  color: $alert-color;
}
.secondary-text {
  color: $secondary-color;
}
.success-text {
  color: $success-color;
}
.white-text {
  color: $white;
}
.primary-text {
  color: $primary-color;
}
.gray-text {
  color: $light-gray;
}

.himmetna-text {
  color: #0074ba;
}
.secondary-link {
  color: $light-primary;

  &:hover, &:visited {
    color: $light-gray;
    text-decoration: underline;
  }
}

.primary-bg {
  background: $primary-color;
  color: $white;
}
.orange-bg {
  background: #e68025;
  color: $white;
}
.himmetna-bg {
  background: #0074bc;
  color: $white;
}

// Horizontal line

.hr {
  height: 3px;
  margin-top: 15px;
  border: none !important;  
  &--purple {
    background-color: $purple;
  }

  &--primary {
    background-color: $primary-color;
  }
}

// Images

.img-inline {
  display: inline-block !important;
  transform: translateY(-1px)
}