.card-horizontal {
  // direction: rtl;
  // height: 150px;
  // border: 1px solid rgb(192, 192, 192);
  // border-radius: 50px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.card-img {
  float: center;
}
.card-button {
  margin-top: 20px !important;
}

.card-title {
  color: $primary-color;
  font-size: 18px;
}

.card-title-gray {
  color: rgb(119, 119, 119);
  font-size: 18px;
}

.card-subtitle {
  color: rgb(175, 175, 175);
  font-size: 14px;
}

.card-info {
  margin-top: auto;
}
.card-text {
  // display: inline-block;
}