.app-footer {
  // height: 300px;
  background: $primary-color;
}

.app-text {
  position: absolute;
  top: 30px;
  text-transform: uppercase;
  font-size: 1em;
}

.app-icon {
  position: absolute;
  bottom: 20px;
  &--android {
    left: 100px;
  }
  &--apple {
    right: 100px;  
  }
  /* Small only */
  @media only screen and (max-width: #{$global-breakpoint}) {
    bottom: 10px;
  }
}