// General styles

$active-site: jobzella;
// $primary-color: $himmetna-color;
// $success-color: $himmetna-success;
@import 'base';
@import 'header';
@import 'footer';
@import 'cards';
@import 'jobGrid';
@import 'divider';
