<div style="padding: 15%; max-width: 600px;">
<h2 style="text-align: center;"><img class="alignnone size-medium" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Header-Logo-big.png" alt="" width="600" height="auto" /></h2>
<h2 style="text-align: center;"><img class="alignnone size-medium" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/event-coverRes.png" alt="" width="600" height="284" /></h2>
<br>
<strong>Setting strategic vision, identifying your objectives and understanding the surrounding current and future business environment became critical steps for growth and sustainability in any business. The Next is the first conference on strategic thinking in Egypt, The conference will gather a wide range of global, Arab and Egyptian experts to put forth solutions and develop strategies, in order to create a successful and profitable business model capable of achieving growth in times of crises.</strong>

<strong>Don’t miss the opportunity to meet:</strong>

&nbsp;
<table style="margin-bottom: 25px; margin-left: 7%">
<tbody>
<tr>
<td style="vertical-align: text-bottom;"width="170"><a href="http://www.stpcode.com/team-member/youssef-khalawi/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emaily.png" alt="" width="170" height="170" /></a></td>
<td style="vertical-align: text-bottom;"width="170"><a href="http://www.stpcode.com/The-Next/team-member/dr-yasmeen-musallam/"><img class="alignnone size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailYa.png" width="170" height="170" /></a></td>
<td style="vertical-align: text-bottom;"width="170"><a href="http://www.stpcode.com/The-Next/team-member/dr-khaled-wahba/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailkh.png" alt="" width="170" height="170" /></a></a></td>

</tr>
<tr>
<td style="vertical-align: text-bottom;"width="107"><strong>Sheikh Youssef Khalawi</strong><br>
Chairman of Al Benaa Al Ma’refy Group</td>
<td style="vertical-align: text-bottom;"width="107"><strong>Dr. Yasmeen Musallam</strong><br>
Co-founder and Managing Director of HRD Global</td>
<td style="vertical-align: text-bottom;"width="107"><strong>Dr. Khaled Wahba</strong><br>
Dean of MSM Kuwait</td>

</tr>

</tbody>
</table>
<table style="margin-bottom: 25px;">
<tbody>
<tr>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/mr-yasser-shaker/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/EmailYas.png" alt="" width="140" height="140" /></a></td>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/dr-hesham-abdelhamid/" target="_blank" rel="noopener"><img class="alignnone size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailh.png" alt="" width="140" height="140" /></a></td>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/mr-hisham-serry/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailH1.png" alt="" width="140" height="140" /></a></td>
<td style="vertical-align: text-bottom;"width="140"> <a href="http://www.stpcode.com/The-Next/team-member/ms-omnia-elnosairy/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailo.png" alt="" width="140" height="140" /></a></td>
</tr>
<tr>
<td style="vertical-align: text-bottom;"width="107"><strong>Mr. Yasser Shaker</strong><br>
CEO and Founder of Optimistic Spark</td>
<td style="vertical-align: text-bottom;"width="107"><strong>Dr. Hesham AbdelHamid</strong><br>
Senior Manager Of Training &amp; Development at E-Finance Company</td>
<td style="vertical-align: text-bottom;"width="107"><strong>Mr. Hisham Serry</strong><br>
Managing Partner KCC Egypt</td>
<td style="vertical-align: text-bottom;"width="107"><strong>Ms. Omnia Elnosairy</strong><br>
Vice President for Business Development at Barclays Bank Egypt</td>
</tr>
</tbody>
</table>
<table style="margin-bottom: 25px;">
<tbody>
<tr>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/dr-galal-zaki/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailg.png" alt="" width="140" height="140" /></a></td>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/dr-dina-el-kayaly/"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emaild.png" width="140" height="140" /></a></td>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/dr-mohamed-fouad/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailf.png" alt="" width="140" height="140" /></a></td>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/mr-mustafa-adel/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailmu.png" alt="" width="140" height="140" /></a></td>
</tr>
<tr>
<td style="vertical-align: text-bottom;"width="107"><strong>Dr. Galal Zaki</strong><br>
IMC Professor of Practice, and Senior Executive Consultant</td>
<td style="vertical-align: text-bottom;"width="107"><strong>Dr. Dina El-Kayaly</strong><br>
Head of market research and marketing at EDGE for training and consultancy</td>
<td style="vertical-align: text-bottom;"width="107"><strong>Dr. Mohamed Fouad</strong><br>
Regional Vice President for COPC Inc. in MENA region</td>
<td style="vertical-align: text-bottom;"width="107"><strong>Mr. Mustafa Adel</strong><br>
Owner and General Manager of Twin Capital Investment Group</td>
</tr>

</tbody>
</table>
<table style="margin-bottom: 25px;">
<tbody>
<tr>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/maximilian-abouleish-boes/" target="_blank" rel="noopener"><img class="alignnone  size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/emailma.png" alt="" width="140" height="140" /></a></td>
<td style="vertical-align: text-bottom;"width="140"><a href="http://www.stpcode.com/The-Next/team-member/ms-sarah-ibrahim/"><img class="alignnone size-thumbnail" style="margin: 4%;" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/SaraE.png" width="140" height="140" /></a></td>


</tr>
<tr>
<td style="vertical-align: text-bottom;"width="170"><strong>Maximilian Abouleish</strong><br>
Chief Sustainable Development Officer SEKEM</td>
<td style="vertical-align: text-bottom;"width="170"><strong>Ms. Sarah Ibrahim</strong><br>
Director of Marketing and Corporate Relations Barclays Bank </td>


</tr>

</tbody>
</table>
&nbsp;

<strong style="margin-top: 10px;">Why should you attend?</strong>
<ul>
 	<li><strong>Explore how to build a successful business model &amp; communication plan with matching KPIs.</strong></li>
 	<li><strong>Discover new areas in your mind by acquiring new expertise for your business.</strong></li>
 	<li><strong>Learn how to achieve growth amid an economic crisis and avoid consequences of crises.</strong></li>
 	<li><strong>Master the power to apply best strategies to drive your business toward success.</strong></li>
 	<li><strong>Partner with CEOs, SMEs owners and other business leaders for future business projects</strong>.</li>
</ul>
Join us to gain experience and network with the industry top-notch speakers.
<p align="center">Receive an attendance certificate from the Academy Company for Information and Communication Technology when attending the conference
</p>

<p style="text-align: center;"><a href="https://goo.gl/forms/4Xzo43BSaheI9RHH3" target="_blank" rel="noopener"><button class="button button-primary button-large">Register Now</button></a></p>
&nbsp;

<hr />
<spa>Platinum Sponsor:      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;&ensp;&ensp;&ensp;    Co-Partners:</spa>
<br>

<a href="https://www.nbe.com.eg/"><img class="alignnone size-full " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/NBE-1.png" alt="" width="120" height="120" /></a>
&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.egyptcsrforum.com/"><img class="alignnone size-full " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/CSR.png" alt="" width="100" height="100" /></a>
<img  src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/ahl.png" style="margin-bottom: 7px;"alt="" width="90" height="90" />

<hr />

Supporters:
<br>

<a href="www.ejb.org.eg/" target="_blank" rel="noopener"><img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/EJP.png" alt="" width="90" height="90" /></a>    <a href="http://www.cancham.org.eg/" target="_blank" rel="noopener"><img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/Can.png" alt="" width="90" height="90" /></a><a href="https://digitalmarketingcommunity.com/"><img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/DMC.png" alt="" width="90" height="90" /></a> <img class="alignnone size-full " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/Arab.png" alt="" width="160" height="87" /><img class="alignnone size-full " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/bna.png" alt="" width="80" height="92" />
<a href="http://dcarboneg.com/about-us/"><img class="alignnone" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/06/dc1.png" alt="" width="90" height="90"/></a>&ensp;&ensp;
<img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/06/HRD.png" alt="" width="90" height="90"/>
<img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/10/OGS.png" alt="" width="90" height="90"/>
<a target="_blank" href="http://jobzella.com/"><img class="alignnone" src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/Jobzella.png" alt="" width="90" height="90"/></a>&ensp;&ensp;


<hr />


Media Sponsors:
<br>

<a href="http://www.alborsanews.com/" target="_blank" rel="noopener"><img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/borsaa.png" alt="" width="110" height="110" /></a>    <a height="110" width="110" href="http://www.thedailynewsegypt.com/" target="_blank" rel="noopener"><img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/dailynews.png" alt="" style="width:110px !important; height:110px !important;" width="110" height=“110” /></a><a href="https://www.e3lam.org/"><img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/e3lam2.png" alt="" width="100" height="100" /></a><a href="https://ebr.ae/en"><img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/BR.png" alt="" width="110" height="79" /></a>
<a href="http://www.masrawy.com/"><img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/06/masrawy.png" alt="" width="110" height="110" /></a>
<img class="alignnone " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/Amwal.png" alt="" width="110" height="110" />

<hr />

Powered by:
<br>

<a href="http://www.stpcode.com/"><img class="alignnone size-full " src="http://www.stpcode.com/The-Next/wp-content/uploads/2017/09/stp.png" alt="" width="140" height="91" /></a>

<hr />

<strong>For more information:</strong>

<strong>STP - Strategic Thinking Conference</strong>

<strong>02 37480489</strong>

<strong>01020406111</strong>

<strong>info@stpcode.com</strong>

<strong>www.stpcode.com</strong>
{{>footer}}


</div>