---
subject: اشترك في معرض توظيف همتنا بمدينة السادس من اكتوبر
adddressed-name: (X)
main-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header-himmetna}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/header.png"}}
  <spacer size="30"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text"> 
        أهلاً.....
      </p>
      <p class="primary-text text-center bigger-text">        
        هل تواجه مشكلة في الوصول لأصحاب المهارات والكفاءات من ذوي المؤهلات الفنية والمتوسطة؟ 

        الآن أصبح الأمر أكثر سهولة مع "همتنا"! يمكنك لقاءهم وتعيين الأفضل منهم في:

      </p>
    </columns>
  </row>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/himmetna-date.png"}}
  <spacer size="20"></spacer>  
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="himmetna-text text-center bigger-text"> 
          انضم الآن لأكثر من<span class="huge-text alert-text"> 40 شركة </span>
      </p>
      <p class="himmetna-text text-center bigger-text"> 
          وساهم في خلق ما يزيد عن<span class="huge-text alert-text"> 2500 فرصة </span>
      </p>
      <p class="himmetna-text text-center bigger-text"> 
          احجز مكانك الآن بأسعار تبدأ من<span class="huge-text alert-text"> 7650 جنيه </span>
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
    <row dir="rtl">
      <columns dir="rtl" large="12" small="12">
        <p class="himmetna-text text-center bigger-text"> 
            للاشتراك وحجز مكانك يمكنك الإتصال على:
        </p>
        <p class="himmetna-text text-center bigger-text"> 
          ٠١٠٠٠٨٩٧٢٤٢
          <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/phone.png" alt="">
        </p>
        <p class="himmetna-text text-center bigger-text"> 
          ٠١٠٠٠٨٩٧٦٩٠
          <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/phone.png" alt="">
        </p>
        <p class="himmetna-text text-center bigger-text"> 
          ٠١٠١٣٦٤٤٤٢٢
          <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/phone.png" alt="">
        </p>
        <p class="himmetna-text text-center bigger-text"> 
          ٠١٠١٣٦٤٤٤٨٨
          <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/phone.png" alt="">
        </p>
        <p class="himmetna-text text-center bigger-text"> 
          ٠١٠١٣٣٥٢٢٢٧
          <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/phone.png" alt="">
        </p>
      </columns>
    </row>
    <row dir="rtl">
      <columns dir="rtl" large="12" small="12">
        <p class="himmetna-text text-center bigger-text"> 
            أو يمكنك التواصل معنا عبر البريد الإلكتروني
        </p>
        <center>
          <a href="mailto:business@himmetna.com" class="himmetna-text text-center bigger-text"> 
              business@himmetna.com
          </a>
        </center>
      </columns>
    </row>
  <spacer size="30"></spacer>
{{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/footer1.png"}}
{{>footer-himmetna}}

</container>