---
subject: Himmetna First Email Newsletter For Job Seekers
addressed-name: إسم المستخدم
job-title: عنوان الوظيفة
compnay-name: إسم الشركة
job-link: https://himmetna.com/jobs/%D9%85%D9%86%D8%AF%D9%88%D8%A8-%D8%AA%D9%88%D8%B2%D9%8A%D8%B9-%D9%81%D9%89-%D8%A2%D8%B1%D8%A7%D9%85%D9%83%D8%B3-%28aramex%29-60
unsubscribe-link: https://www.jobzella.com/my-account
main-link: https://www.himmetna.com
jobzella-link: https://jobzella.com
himmetna-link: https://himmetna.com
phone-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png
mobile-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png

---

<container>
  {{>header-himmetna}}
  <!-- PARAMS
  IMAGE: tHE SRC ATTRIBUTE OF THE HEADER IMAGE
  LINKED: WHETHER THE IMAGE HAS A LINK TO THE MAIN LINK
  -->
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/JOB-SEEKERS-Himmetna-email-3-main-image.jpg" linked=""}}
  <spacer size="20"></spacer>
  <row dir="rtl">
    <columns class="small-padding" dir="rtl" large="12" small="12">
      <h6 dir="rtl" class="primary-text text-right bigger-text"> 
        أهلاً {{addressed-name}}
      </h6>
      <p class="primary-text text-right bigger-text">
        مبروك. قدمت بنجاح على وظيفة {{job-title}} في شركة {{compnay-name}}.
      </p>
      <p class="primary-text text-right bigger-text">
        لسه في شركات أكتر بتوفر فرص عمل مناسبة ليك. قدم على اللي يناسبك منهم
      </p>
    </columns>
  </row>

  <row dir="rtl">
    <columns class="grid-size small-padding" dir="rtl" small="12" large="6">
      <row class="card-horizontal">
        <columns large="6" small="6" class="no-padding">
          <a href="#">
            <img class="card-img img-avatar img-center" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505147916xi84p_sm.jpg">        
          </a>
        </columns>
        <columns large="6" small="6" class="no-padding">
          <a href="#" class="card-info">
            <h5 class="text-right card-title"> فني تبريد أمونيا </h5>
            <h5 class="text-right card-subtitle"> القاهرة - وسط البلد </h5>
            <button class="button success radius card-button" href="{{job-link}}"> قدم الآن </button>
          </a>
        </columns>
      </row>
    </columns>
    <columns class="grid-size small-padding" dir="rtl" small="12" large="6">
      <row class="card-horizontal">
        <columns large="6" small="6" class="no-padding">
          <a href="#">
            <img class="card-img img-avatar img-center" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505147916xi84p_sm.jpg">        
          </a>
        </columns>
        <columns large="6" small="6" class="no-padding">
          <a href="#" class="card-info">
            <h5 class="text-right card-title"> فني تبريد أمونيا </h5>
            <h5 class="text-right card-subtitle"> القاهرة - وسط البلد </h5>
            <button class="button success radius card-button" href="{{job-link}}"> قدم الآن </button>
          </a>
        </columns>
      </row>
    </columns>
    
  </row>
  <row dir="rtl">
    <columns class="grid-size small-padding" dir="rtl" small="12" large="6">
      <row class="card-horizontal">
        <columns large="6" small="6" class="no-padding">
          <a href="#">
            <img class="card-img img-avatar img-center" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505147916xi84p_sm.jpg">        
          </a>
        </columns>
        <columns large="6" small="6" class="no-padding">
          <a href="#" class="card-info">
            <h5 class="text-right card-title"> فني تبريد أمونيا </h5>
            <h5 class="text-right card-subtitle"> القاهرة - وسط البلد </h5>
            <button class="button success radius card-button" href="{{job-link}}"> قدم الآن </button>
          </a>
        </columns>
      </row>
    </columns>
    <columns class="grid-size small-padding" dir="rtl" small="12" large="6">
      <row class="card-horizontal">
        <columns large="6" small="6" class="no-padding">
          <a href="#">
            <img class="card-img img-avatar img-center" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505147916xi84p_sm.jpg">        
          </a>
        </columns>
        <columns large="6" small="6" class="no-padding">
          <a href="#" class="card-info">
            <h5 class="text-right card-title"> فني تبريد أمونيا </h5>
            <h5 class="text-right card-subtitle"> القاهرة - وسط البلد </h5>
            <button class="button success radius card-button" href="{{job-link}}"> قدم الآن </button>
          </a>
        </columns>
      </row>
    </columns>
    
  </row>
  {{>footer-himmetna}}
</container>
