---
subject: Himmetna First Email Newsletter For Job Seekers
addressed-name: إسم المستخدم
unsubscribe-link: https://www.jobzella.com/my-account
main-link: https://www.himmetna.com
jobzella-link: https://jobzella.com
himmetna-link: https://himmetna.com
phone-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png
mobile-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png

---

<container>
  {{>header-himmetna}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Main-Image-88X210.png"}}
  <spacer size="20"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <h6 dir="rtl" class="primary-text text-right bigger-text"> 
        أهلاً {{addressed-name}}
      </h6>
      <p class="primary-text text-right bigger-text">
        تم تسجيل  حسابك الشخصي بنجاح على موقع همتنا. عشان تشغّل حسابك وتبدأ تقدم على الوظايف المناسبة ليك
         ادخل على الرابط ده.
      </p>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
      <columns large="6" small="12">
          <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> شغل حسابك </span> </center> </button>
      </columns>
    <columns large="3"></columns>
  </row>
  {{>footer-himmetna}}
</container>
