---
subject: Himmetna First Email Newsletter For Job Seekers
addressed-name: إسم المستخدم
unsubscribe-link: https://www.jobzella.com/my-account
main-link: https://www.himmetna.com
jobzella-link: https://jobzella.com
himmetna-link: https://himmetna.com
phone-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png
mobile-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png

---

<container>
  {{>header-himmetna}}
  <!-- PARAMS
  IMAGE: tHE SRC ATTRIBUTE OF THE HEADER IMAGE
  LINKED: WHETHER THE IMAGE HAS A LINK TO THE MAIN LINK
  -->
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Header-image-second-email-himmetna-copy.jpg" linked=""}}
  <spacer size="20"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <h6 dir="rtl" class="primary-text text-right bigger-text"> 
        أهلاً {{addressed-name}}
      </h6>
      <p class="primary-text text-right bigger-text">
        حسابك ناقص بعض المعلومات الأساسية، كملّها دلوقتي، وهتزيد فرصتك في الحصول على وظيفة أحلامك 
      </p>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
      <columns large="6" small="12">
          <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> كمل بياناتك </span> </center> </button>
      </columns>
    <columns large="3"></columns>
  </row>
  {{>footer-himmetna}}
</container>
