---
subject: Himmetna First Email Newsletter For Job Seekers
addressed-name: إسم الشركة
unsubscribe-link: https://www.jobzella.com/my-account
main-link: https://himmetna.com/company/packages
jobzella-link: https://jobzella.com
himmetna-link: https://himmetna.com
phone-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png
mobile-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png

---

<container>
  {{>header-himmetna}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/01-Companies-News-Letter-Himmetna-Activate-you-account.jpg"}}
  <spacer size="20"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <h6 dir="rtl" class="primary-text text-right bigger-text"> 
        أهلاً {{addressed-name}}
      </h6>
      <p class="primary-text text-right bigger-text">
          تهانينا، تم تسجيل حساب لشركتك بنجاح على موقع همتنا، أنت الآن على بُعد خطوات قليلة من تعيين أفضل الكفاءات وأصحاب المهارات. تعرف على باقات التوظيف المختلفة واختار من بينها، حتى تتمكن من نشر أولى وظائفك بنجاح. 
      </p>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
      <columns large="6" small="12">
          <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> تعرف على باقات التوظيف </span> </center> </button>
      </columns>
    <columns large="3"></columns>
  </row>
  {{>footer-himmetna}}
</container>
