---
subject: باقي يوم واحد على ملتقى توظيف نقدر
adddressed-name: (X)
main-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header-himmetna}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/Header-1.png"}}
  <spacer size="30"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text"> 
        أهلاً <strong> *|username|* </strong> ،
      </p>
      <p class="primary-text text-center bigger-text">
        باقي 24 ساعة على أكبر ملتقى توظيف وتدريب لذوي القدرات الخاصة في مصر، بمشاركة أكتر من 25 شركة من أكبر الشركات في مصر، وتقوم بتوفير أكتر من 2000 فرصة تدريب وتوظيف لذوي القدرات الخاصة، ميعادنا بكرة 14 أبريل بالحرم اليوناني بوسط البلد من الساعة 11 ص للساعة 6:30 م.
      </p>
    </columns>
  </row>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/map.png"}}
  <spacer size="20"></spacer>
    <row dir="rtl">
      <columns dir="rtl" large="12" small="12">
        <p class="primary-text text-center huge-text"> 
          <strong> في إنتظارك </strong>
        </p>
      </columns>
    </row>
    <spacer size="20"></spacer>
    {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/jobs-1.png"}}
    {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/participants.png"}}
    
  <spacer size="30"></spacer>
  
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-center huge-text"> 
        <strong> في إنتظارك </strong>
      </p>
    </columns>
  </row>
  <spacer size="30"></spacer>
{{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/04/footer-1.png"}}
{{>footer-himmetna}}

</container>