---
subject: Himmetna First Email Newsletter For Job Seekers
addressed-name: إسم المستخدم
job-title: عنوان الوظيفة
compnay-name: إسم الشركة
job-link: https://himmetna.com/jobs/%D9%85%D9%86%D8%AF%D9%88%D8%A8-%D8%AA%D9%88%D8%B2%D9%8A%D8%B9-%D9%81%D9%89-%D8%A2%D8%B1%D8%A7%D9%85%D9%83%D8%B3-%28aramex%29-60
unsubscribe-link: https://www.jobzella.com/my-account
main-link: https://www.himmetna.com
jobzella-link: https://jobzella.com
himmetna-link: https://himmetna.com
phone-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png
mobile-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png

---

<container>
  {{>header-himmetna}}
  <!-- PARAMS
  IMAGE: tHE SRC ATTRIBUTE OF THE HEADER IMAGE
  LINKED: WHETHER THE IMAGE HAS A LINK TO THE MAIN LINK
  -->
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/05-JOB-SEEKERS-Himmetna-main-image.jpg" linked=""}}
  <spacer size="20"></spacer>
  <row dir="rtl">
    <columns class="small-padding" dir="rtl" large="12" small="12">
      <h6 dir="rtl" class="primary-text text-right bigger-text"> 
        أهلاً {{addressed-name}}
      </h6>
      <p class="primary-text text-right bigger-text">
        شركات جديدة انضمت لهمتنا، ومعاها وظائف مختلفة مناسبة ليك، اتعرف عليها وقدم على اللي يناسبك باستخدام حسابك على همتنا.
      </p>
    </columns>
  </row>
  <row dir="rtl">
    <columns class="grid-size small-padding" dir="rtl" small="12" large="4">
      <a href="#">
        <img class="img-card img-center img-avatar" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505748823B2CCW_sm.jpg">
        <h5 class="text-center card-title-gray"> 4 وظائف </h5>
        <center>
          <button class="button small success radius" href="{{job-link}}"> إتعرف عليها </button>
        </center>     
      </a>
    </columns>
    <columns class="grid-size small-padding" dir="rtl" small="12" large="4">
      <a href="#">
        <img class="img-card img-center img-avatar" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505748823B2CCW_sm.jpg">
        <h5 class="text-center card-title-gray"> 4 وظائف </h5>
        <center>
          <button class="button small success radius" href="{{job-link}}"> إتعرف عليها </button>
        </center>     
      </a>
    </columns>
    <columns class="grid-size small-padding" dir="rtl" small="12" large="4">
      <a href="#">
        <img class="img-card img-center img-avatar" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505748823B2CCW_sm.jpg">
        <h5 class="text-center card-title-gray"> 4 وظائف </h5>
        <center>
          <button class="button small success radius" href="{{job-link}}"> إتعرف عليها </button>
        </center>     
      </a>
    </columns>
  </row>
  <row dir="rtl">
    <columns class="grid-size small-padding" dir="rtl" small="12" large="4">
      <a href="#">
        <img class="img-card img-center img-avatar" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505748823B2CCW_sm.jpg">
        <h5 class="text-center card-title-gray"> 4 وظائف </h5>
        <center>
          <button class="button small success radius" href="{{job-link}}"> إتعرف عليها </button>
        </center>     
      </a>
    </columns>
    <columns class="grid-size small-padding" dir="rtl" small="12" large="4">
      <a href="#">
        <img class="img-card img-center img-avatar" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505748823B2CCW_sm.jpg">
        <h5 class="text-center card-title-gray"> 4 وظائف </h5>
        <center>
          <button class="button small success radius" href="{{job-link}}"> إتعرف عليها </button>
        </center>     
      </a>
    </columns>
    <columns class="grid-size small-padding" dir="rtl" small="12" large="4">
      <a href="#">
        <img class="img-card img-center img-avatar" src="https://jobzella-staging.s3-eu-west-1.amazonaws.com/companies/images/thumbnails/1505748823B2CCW_sm.jpg">
        <h5 class="text-center card-title-gray"> 4 وظائف </h5>
        <center>
          <button class="button small success radius" href="{{job-link}}"> إتعرف عليها </button>
        </center>     
      </a>
    </columns>
  </row>

  {{>footer-himmetna}}
</container>
