---
subject: Jobzella’s Second Career Fair 2017
addressed-name: User Name
unsubscribe-link: https://www.jobzella.com/my-account
main-link: https://www.jobzella.com/en/events/view/jobzellas-second-career-fair-2017-at-jobzellacom-in-egypt-cairo-768
jobzella-link: https://jobzella.com
phone-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png
mobile-icon: https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png

---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/second-mail-main-image.png"}}
  <row>
    <columns large="12" small="12">
      <h6 class="primary-text"> 
        Dear {{addressed-name}}
      </h6>
      <p class="primary-text">
          We are proudly inviting you to join <a href="{{main-link}}"><span class="alert-text"> <strong> Jobzella’s Second Career Fair 2017 @ The GrEEK Campus </strong> </span> </a>, which is going to be held on Saturday, December 9, 2017.
      </p>
    </columns>
  </row>
  <row>
    <columns large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Circle-Green.png">
      </center>
    </columns>
    <columns large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Circle-Red.png">
      </center>
    </columns>
    <columns large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Circle-Purple.png">
      </center>
    </columns>
  </row>
  
  {{>hr}}

  <row>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/01-meet-top.png">
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/02-Achieve.png">
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/03-Reach.png">
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/04-Expand.png">
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/05-Increase.png">
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/06-Enhance.png">
      </center>
    </columns>
  </row>

  <spacer size="30"></spacer>  

  <row>
      <columns large="12" small="12">
        <center>      
          <h5 class="text-center primary-text">
            <strong>
              Don't miss your chance and join the event now, by using your <a href="{{jobzella-link}}"> <strong class="secondary-text"> Jobzella </strong> </a> account
            </strong>
          </h5>
        </center>    
      </columns>
  </row>
  <row>
    <columns large="3"></columns>
      <columns large="6" small="12">
          <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> JOIN NOW </span> </center> </button>
      </columns>
    <columns large="3"></columns>
  </row>
  <row>
    <columns large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Place.png">
      </center>
    </columns>
    <columns large="4" small="12">
      <center>          
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Fair-Data.png">
      </center>    
    </columns>
    <columns large="4" small="12">
      <center>          
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Time.png">
      </center>    
    </columns>
  </row>
  {{>user-footer}}
  {{>footer}}
</container>
