---
subject: Jobzella’s Second Career Fair 2017
company-name: Company Name
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.jobzella.com/Jobzella-Second-Career-Fair-2017
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  <row>
    <columns large="12" small="12">
      <center>
        <a href="{{job-fair-link}}">
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Header-Images.png">
        </a>
      </center>
    </columns>
  </row>

  <row>
    <columns large="12" small="12">
      <h4 class="primary-text"> 
        Dear {{company-name}}
      </h4>
      <p class="primary-text">
          We are pleased to invite your esteemed organization to participate at one of the biggest career events in Egypt <a href="{{job-fair-link}}"><span class="alert-text"> Jobzella’s Second Career Fair 2017 @ The GrEEK Campus </span> </a> in the heart of Cairo, which is going to be held on Saturday, December 9, 2017. This will be a very special event, not only to promote your employer brand, jobs, and/or courses but will also involves many key activities. It is expected that at least 5,000 attendees will attend the event.
      </p>
      <center>
        <strong class="primary-text text-center">
            Book your booth now starting from <span class="alert-text bigger-text"> 7,650 EGP </span> only.
        </strong>
      </center>
    </columns>
  </row>
  {{> section-title title="Why should your company participate?" first="7" last="5"}}
  <row>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/why-should-1.png">
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/why-should-2.png">
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/why-should-3.png">
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/why-should-4.png">
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/why-should-5.png">
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/why-should-6.png">
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/why-should-7.png">
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/why-should-8.png">
      </center>
    </columns>
  </row>
  {{> section-title title="Target Professions" first="4" last="8"}}
  <row>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/01-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/02-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/03-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/04-target-.png">
      </center>
    </columns>
  </row>
  <row>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/05-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/06-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/07-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/08-target-.png">
      </center>
    </columns>
  </row>
  <row>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/09-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/10-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/11-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/12-target-.png">
      </center>
    </columns>
  </row>
  <row>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/13-target-.png">
      </center>
    </columns>
    <columns large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/14-target-.png">
      </center>
    </columns>
  </row>
  <row>
      <columns large="12" small="12">
        <center>      
          <h5 class="text-center primary-text">For more information about sponsorship and participation packages</h5>
        </center>    
      </columns>
  </row>
  <row>
      <columns>
        <center>
          <button class="button large rounded" href="{{job-fair-link}}"> <center> <span class="text-center"> Download the Presentation </span> </center> </button>
        </center>
      </columns>
  </row>
  <row>
    <columns large="6">
    <hr class="hr hr--primary">  
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <center>
      <h5 class="text-center primary-text">
        To reserve and book your booth, please call
      </h5>
    </center>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png">
        <strong class="primary-text text-center"> +(202) 279 31 593 </strong>
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png">
        <strong class="primary-text text-center"> +(202) 279 31 594 </strong>
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0089 7690 </strong>
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0089 7242 </strong>
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0072 5461 </strong>
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0072 5462 </strong>
      </center>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0072 5396 </strong>
      </center>
    </columns>
  </row>
  <row>
    <center>
      <h5 class="text-center primary-text">
        Or reply to this email: <a class="purple-text" href="mailto:sales@jobzella.com">sales@jobzella.com</a>
      </h5>
    </center>
  </row>
  <row>
      <h5 class="text-center primary-text">
          Thank you and best regards,
      </h5>
  </row>
  <spacer size="30"></spacer>
  {{>footer}}
</container>
