---
subject: سجّل الآن للحصول على منحة " طريقك لسوق العمل"!
adddressed-name: (X)
main-link: https://goo.gl/feUwtk
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://goo.gl/feUwtk
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Berlitz-2.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row>
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text"> 
        أهلاً {{adddressed-name}},
      </p>
      <p class="primary-text text-right bigger-text">
        إذا كنت مشتت، كيف تدخل سوق العمل؟؟ و تتساءل عما يجب عليك تعلّمه؟ وأي المهارات تحتاجها لتجد طريقك الوظيفي، وبناء مستقبلك المهني؟ تدعوكم شركة جوبزيلا للتسجيل الآن، لحضور المنحة المجانية " طريقك لسوق العمل".
      </p>
      <p class="primary-text text-right bigger-text">
        المنحة مقدّمة من جمعية التطوير والتنمية بالتعاون مع شركة <strong>Berlitz</strong>، للخريجين، في محافظة القاهرة حتى سن 27 عام، بهدف تطوير مهاراتهم، وإمكاناتهم، وتدريبهم على المتطلبات، والإحتياجات التى يحتاج إليها سوق العمل المصرى.
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
      <row>
        <columns dir="rtl" large="12" small="12">
          <p class="primary-text text-right bigger-text">
            <strong>
              سجل الآن من خلال الرابط المرفق وابدأ في تحقيق ذاتك!
            </strong>
          </p>
          <spacer size="10"></spacer>
        </columns>
      </row>
      <row>
        <columns dir="rtl" large="3"></columns>
          <columns dir="rtl" large="6" small="12">
              <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center" dir="rtl"> سجل الآن! </span> </center> </button>
          </columns>
        <columns large="3"></columns>
      </row>

  {{>user-footer}}
  {{>footer}}
</container>
