---
subject: دعوة للمشاركة في نقدر | أكبرملتقى توظيفي لذوي الإحتياجات الخاصة
adddressed-name: (Company name)
main-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-company1-Main-image.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text"> 
        أهلاً {{adddressed-name}}،
      </p>
      <p class="primary-text text-right bigger-text">
          يسر شركة جوبزيلا أن تعلن عن إطلاق مبادرتها لتوظيف ذوي القدرات الخاصة في مصر تحت إسم "نقدر"، وتأتي تلك المبادرة في إطار تنظيم أكبر ملتقى لتوظيف ذوي القدرات الخاصة
          يوم 14 أبريل بالحرم اليوناني - وسط القاهرة.
      </p>
    </columns>
  </row>
  <row>
    <center>
      <columns large="11" small="11">
        <hr class="hr hr--primary"/>
      </columns>
    </center>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text">
        <strong>
          يضم الملتقى
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns dir="rtl" large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-icon-001.png" alt="">
      </center>
    </columns>
    <columns dir="rtl" large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-icon-002.png" alt="">
      </center>
    </columns>
    <columns dir="rtl" large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-icon-003.png" alt="">
      </center>
    </columns>
    <columns dir="rtl" large="3" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-icon-004.png" alt="">
      </center>
    </columns>
  </row>
  <row>
    <center>
      <columns large="11" small="11">
        <hr class="hr hr--primary"/>
      </columns>
    </center>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text">
        <strong>
          لماذا يجب عليك تعيين ذوي القدرات الخاصة؟
        </strong>
      </p>
    </columns>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="alert-text text-right">
        تعيين ذوي القدرات الخاصة يمكن أن يؤثر إيجابياً على أداء الشركة وإليك الأسباب.
      </p>
    </columns>
  </row>
  <row>
    <columns dir="rtl" large="3" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-reason-01.png" alt="">
      </center>
    </columns>
    <columns dir="rtl" large="3" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-reason-02.png" alt="">
      </center>
    </columns>
    <columns dir="rtl" large="3" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-reason-03.png" alt="">
      </center>
    </columns>
    <columns dir="rtl" large="3" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-reason-04.png" alt="">
      </center>
    </columns>
  </row>
  <row>
    <center>
      <columns large="11" small="11">
        <hr class="hr hr--primary"/>
      </columns>
    </center>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text">
        <strong>
          العلاقة بين تعيين أصحاب الهمم والخدمة المجتمعية.
        </strong>
      </p>
      <p class="primary-text text-right">
        ١- إن خلق فرص عمل للأشخاص ذوي الإعاقة وتعزيز إدماجهم هو جزء من  المسؤولية الاجتماعية للشركات.
      </p>
      <p class="primary-text text-right">
        ٢- لا يخفى عليكم أيضاً أن الاستدامة تشمل الآن أبعادا اجتماعية مثل الإدماج الاجتماعي، وتكافؤ الفرص، ومكافحة التمييز. وهي ترتبط ارتباطا جوهريا، ويجب على جهود الاستدامة في المستقبل النظر فيها.
      </p>
      <p class="primary-text text-right">
        ٣- دمج ذوي الإعاقات في المجتمع يهدف إلى إظهار طاقات هذه الفئة، وجعلها فئة منتجة في المجتمع تسهم في عملية التنمية في الدولة.
      </p>
      <p class="primary-text text-right">
        ٤- مفهوم المسؤولية الاجتماعية للشركات وعلاقته بالاستدامة  من حيث المبدأ يسعى إلى تحسين قطاعات التعليم والصحة والعمالة ومساعدة ذوي الاحتياجات الخاصة على الاندماج في المجتمع المصري وخلق فرص عمل مناسبة لهم.
      </p>
    </columns>
  </row>

  <row>
    <center>
      <columns large="11" small="11">
        <hr class="hr hr--primary"/>
      </columns>
    </center>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-center bigger-text">
        <strong>
            لا تفوت فرص لقاء ذوي القدرات الخاصة وانضم لأكبر الشركات والهيئات المشاركة بملتقى نقدر.
        </strong>
      </p>
    </columns>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/ne2dar-button-download.png" alt="">
      </center>
    </columns>
  </row>
  <row>
    <center>
      <columns large="11" small="11">
        <hr class="hr hr--primary"/>
      </columns>
    </center>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-center bigger-text">
        <strong>
          للإستعلام عن الرعاية وباقات الاشتراك في الملتقى
        </strong>
      </p>
    </columns>
  </row>
  <spacer size="10"></spacer>
  <row>
    <columns dir="rtl" large="3"></columns>
    <columns dir="rtl" large="6" small="12">
      <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center" dir="rtl"> الضغط هنا </span> </center> </button>
    </columns>
    <columns large="3"></columns>
  </row>
  <row>
    <center>
      <columns large="11" small="11">
        <hr class="hr hr--primary"/>
      </columns>
    </center>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <center>
        <p class="primary-text text-center bigger-text">
          وللاشتراك وحجز مكانك يمكنك الإتصال على:
        </p>
      </center>
    </columns>
  </row>
  <row>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01000897242
        </span>
      </center>
    </columns>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01000897690
        </span>
      </center>
    </columns>
    
  </row>
  <row>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01013644422
        </span>
      </center>
    </columns>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01013644488
        </span>
    </center>
  </columns>
</row>
<row>
  <columns dir="rtl" large="12" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
      <span class="primary-text bigger-text" >
        01013352227
      </span>
    </center>
  </columns>
</row>
<row dir="rtl">
  <columns dir="rtl" large="12" small="12">
    <center>
      <p class="primary-text text-center bigger-text">
          أو يمكنك التواصل معنا عبر البريد الإلكتروني
      </p>
      <a href="mailto:business@himmetna.com" class="primary-text text-center bigger-text underline">
          business@himmetna.com
      </a>
    </center>
  </columns>
</row>
<spacer size="30"></spacer>
{{>footer}}
</container>