---
subject: Jobzella’s Second Career Fair 2017
adddressed-name: Applicant Name
main-link: https://www.jobzella.com/en/Jobzella-employment-fair
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.jobzella.com/en/Jobzella-employment-fair
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/Header-Image-Booklet.jpg" linked="1"}}
  <spacer size="20"></spacer>

  <row>
    <columns large="12" small="12">
      <p class="primary-text"> 
        Dear {{adddressed-name}},
      </p>
      <p class="primary-text">
        Now you can download our e-booklet for <strong> Jobzella’s Second Career Fair @The GrEEK Campus </strong> - The biggest career fair in Egypt - through which you can access 10,000+ career opportunities among 70+ top employers and education institutions, in 14+ different industries.
      </p>
      <p class="primary-text">
        Whether you attended the event or not, you still have the chance to apply to all the opportunities directly on Jobzella website using your personal profile with just a click.
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
  <row>
    <columns class="show-for-large" large="5">
      <hr class="hr hr--primary">    
    </columns>
    <columns large="2" small="12">
      <h5 class="button-like-header text-center">
        WITH
      </h5>     
    </columns>
    <columns class="show-for-large" large="5">
      <hr class="hr hr--primary">    
    </columns>
  </row>
  <row>
    <columns large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/01-icon-companies-booklet.png">
      </center>
    </columns>
    <columns large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/02-icon-industries-booklet.png">
      </center>
    </columns>
    <columns large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/03-icon-oppertunities-booklet.png">
      </center>
    </columns>
  </row>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/companies-logos-booklet.png" linked="0"}}
  <spacer size="30"></spacer>
  <row>
    <columns class="show-for-large" large="4">
      <hr class="hr hr--primary">    
    </columns>
    <columns large="4" small="12">
      <h5 class="button-like-header text-center">
        KEY SPEAKERS
      </h5>     
    </columns>
    <columns class="show-for-large" large="4">
      <hr class="hr hr--primary">    
    </columns>
  </row>
  <row>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/01-nader-booklet.png" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/02-Hala-booklet.png" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/03-Dina-booklet.png" alt="">
      </center>
    </columns>
  </row>
  <row>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/04-sara-booklet.png" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/05-mostafa-booklet.png" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/06-amgad-booklet.png" alt="">
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/07-Yasser-booklet.png" alt="">
      </center>
    </columns>
    <columns large="6" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/08-andrew-booklet.png" alt="">
      </center>
    </columns>
  </row>

  <spacer size="30"></spacer>
  <row>
    <columns large="3"></columns>
      <columns large="6" small="12">
          <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> DOWNLOAD THE BOOKLET </span> </center> </button>
      </columns>
    <columns large="3"></columns>
  </row>  
  <row>
      <columns large="12" small="12">
        <center>
          <p class="primary-text">
            Wish you best of luck and success,
          </p>
          <p class="primary-text">
            The Jobzella Team 
          </p>
        </center>
      </columns>
    </row>
    <spacer size="30"></spacer>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/01/fotter-download-booklet.png" linked="0"}}
  <spacer size="5"></spacer>
  {{>footer}}
</container>
