---
subject: Jobzella’s Second Career Fair 2017
company-name: Company Name
main-link: https://www.jobzella.com/Jobzella-Second-Career-Fair-2017
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.jobzella.com/Jobzella-Second-Career-Fair-2017
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/third-mail-companies-Header-Images2.jpg" linked="1"}}
  <spacer size="20"></spacer>

  <row>
    <columns large="12" small="12">
      <h4 class="primary-text"> 
        Dear {{company-name}},
      </h4>
      <p class="primary-text">
          Top employers are participating in <a href="{{job-fair-link}}"><span class="alert-text"> Jobzella’s Second Career Fair 2017 @ The GrEEK Campus</span></a>, to hire top qualified talents. And it is a great chance for you to join them to build and expand your great team, and hunt more great talents.
      </p>
      <center>
        <strong class="primary-text text-center">
            Book your booth now starting from <span class="alert-text bigger-text"> 8,999 EGP </span>.
        </strong>
      </center>
    </columns>
  </row>

  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Sponsers-1.jpg"}}
  
  <row>
      <columns large="12" small="12">
        <center>      
          <h5 class="text-center primary-text">For more information about sponsorship and participation packages</h5>
        </center>    
      </columns>
  </row>
  <row>
      <columns>
        <center>
          <button class="button large rounded" href="{{job-fair-link}}"> <center> <span class="text-center"> Download the Presentation </span> </center> </button>
        </center>
      </columns>
  </row>
  <row>
    <columns large="6">
    <hr class="hr hr--primary">  
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <center>
      <h5 class="text-center primary-text">
        To reserve and book your booth, please call
      </h5>
    </center>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png">
        <strong class="primary-text text-center"> +(202) 279 31 593 </strong>
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png">
        <strong class="primary-text text-center"> +(202) 279 31 594 </strong>
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0089 7690 </strong>
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0089 7242 </strong>
      </center>
    </columns>
  </row>
  <row>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0072 5461 </strong>
      </center>
    </columns>
    <columns large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0072 5462 </strong>
      </center>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
        <strong class="primary-text text-center"> +(2010) 0072 5396 </strong>
      </center>
    </columns>
  </row>
  <row>
    <center>
      <h5 class="text-center primary-text">
        Or reply to this email: <a class="purple-text" href="mailto:sales@jobzella.com">sales@jobzella.com</a>
      </h5>
    </center>
  </row>
  <row>
      <h5 class="text-center primary-text">
          Thank you and best regards,
      </h5>
  </row>
  <spacer size="30"></spacer>
  {{>footer}}
</container>
