---
subject: 8 days left for early bird discount offer!!
adddressed-name: partners
main-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/Normal+Packages.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/Normal+Packages.pdf
sponsorship-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/Sponsorship+Packages.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Corporate-Football-Tournament-2018-main-image.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text"> 
        Dear {{adddressed-name}},
      </p>
      <p class="primary-text">
        I hope all is well at your end. Since Ramadan is approaching and therefore our yearly Ramadan Football Tournament and since we opened the registration for teams already and you are one of our loyal teams and one of the teams that joined last Ramadan, you are among the first companies whom we are keen on having with us! And one of the companies we are keen to finalize their agreement before end of February to enjoy the 10% early bird discount on normal teams and 20% discount on sponsorship packages ( till Gold Sponsor) and 15% discount on Headline and platinum sponsorship packages.
      </p>
    </columns>
  </row>
  <spacer size="10"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text">
        <strong>
          N.B. This offer is valid till end of February!
        </strong>
      </p>
      <spacer size="10"></spacer>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text"> 
          With that being said, we would like to offer you the following packages:
      </p>
      <p class="primary-text">
          - Normal Team: 9000LE instead of 10,000 LE ( price after 10% early bird discount)
      </p>
      <p class="primary-text">
          - Associate Sponsor: 24,000 instead of 30,000 ( price after 20% early bird discount)
      </p>
      <p class="primary-text">
          - Bronze Sponsor: 40,000 instead of 50,000 ( price after 20% early bird discount)
      </p>
      <p class="primary-text">
          - Silver Sponsor: 56,000 instead of 70,000 ( price after 20% early bird discount)
      </p>
      <p class="primary-text">
          - Gold Sponsor: 76,000 instead of 95,000 ( price after 20% early bird discount)
      </p>
      <p class="primary-text">
          - Platinum Sponsor: 102,000 instead of 120,000 ( price after 15% early bird discount)
      </p>
      <p class="primary-text">
          - Headline Sponsor: 127,500 instead of 150,000 ( price after 15% early bird discount)
      </p>
      
      <spacer size="20"></spacer>
      
      <p class="primary-text">
          Kindly choose your package and let us know as soon as possible to make use of the early bird discounts.
      </p>
      <p class="primary-text">
          Looking forward to having you with us in Ramadan 2018 :)
      </p>
    </columns>
  </row>
  <row>
      <columns large="12" small="12">
        <center>
          <p class="primary-text text-center bigger-text">
            <strong>
              For more information please check
            </strong>
          </p>
        </center>
        <spacer size="10"></spacer>
      </columns>
    </row>
  <row>
    <columns large="6" small="12">
      <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> Normal package </span> </center> </button>
    
    </columns>
    <columns large="6" small="12">
      <button class="button success large radius small-expanded" href="{{sponsorship-link}}"> <center> <span class="text-center"> Sponsorship package </span> </center> </button>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text">
        Best Regards,
      </p>
      <p class="primary-text">
        Dina Makkawi
      </p>
      <p class="primary-text">
        Managing Director
      </p>
      <p class="primary-text">
        The Employer & The Marketer
      </p>
      <p class="primary-text">
        01019447640
      </p>
      <spacer size="10"></spacer>
    </columns>
  </row>
  
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Corporate-Football-Tournament-2018-contactus.jpg" linked="1"}}
  {{>footer}}
</container>
