---
subject:  استمتع بخصم على فاعليات شهر ابريل 
adddressed-name: (X)
main-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Second-email-Email-For-Companies-third-main.jpg"}}
  <spacer size="30"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text"> 
        أهلاً <strong> *|username|* </strong> ،
      </p>
      <p class="primary-text text-right bigger-text">
        يسر شركة جوبزيلا أن تعلن عن عرضها الحصري لك الخاص بمعارض التوظيف المقرر إقامتها خلال شهر أبريل القادم.
      </p>
      <p class="primary-text text-right bigger-text">
        <strong>
          اشترك الآن بأحد باقات ملتقى توظيف نقدر لذوي القدرات الخاصة
        </strong>
      </p>
    </columns>
  </row>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-third-email-For-Companies-offer-link.jpg"}}
  <spacer size="10"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text">
        هذا العرض يوفر  لك فرصة ما يقرب من 5000 باحث عن عمل، والتواصل مع أكثر من 80 شركة، وكذلك ترويج علامتك التجارية.
      </p>
      <p class="primary-text text-center bigger-text">
        <strong>
          لماذا عليك الإستفادة من هذا العرض؟
        </strong>
      </p>
    </columns>
  </row>
  
  <row dir="rtl">
    <columns dir="rtl" large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Second-email-Email-For-Companies-Third-email-Jobzella-01-tip.jpg" alt="">
      </center>
    </columns>
    <columns dir="rtl" large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Second-email-Email-For-Companies-Third-email-Jobzella-02-tip.jpg" alt="">
      </center>
    </columns>
    <columns dir="rtl" large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Second-email-Email-For-Companies-Third-email-Jobzella-03-tip.jpg" alt="">
      </center>
    </columns>
  </row>

  <spacer size="20"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="8" small="12">
      <p class="primary-text text-right bigger-text">
          ملتقيان للتوظيف لا يجب أن تفوتهم في أبريل المقبل، وفر أموالك وقابل باحثين مؤهلين للعمل وروج لعلامتك التجارية وتواصل مع عشرات الشركات في مختلف المجالات.
        </p>
    </columns>
    <columns dir="rtl" large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-third-email-april.png" alt="">
      </center>
    </columns>
  </row>
  
    {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Third-email-Email-For-Companies-first-logo-ne2dar.jpg"}}
    {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Third-email-Email-For-Companies-first-logo-MIU.jpg"}}

    <spacer size="30"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <center>
        <p class="primary-text text-center bigger-text">
          وللاشتراك وحجز مكانك يمكنك الإتصال على:
        </p>
      </center>
    </columns>
  </row>
  <row>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01000897242
        </span>
      </center>
    </columns>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01000897690
        </span>
      </center>
    </columns>
    
  </row>
  <row>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01013644422
        </span>
      </center>
    </columns>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01013644488
        </span>
    </center>
  </columns>
</row>
<row>
  <columns dir="rtl" large="12" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
      <span class="primary-text bigger-text" >
        01013352227
      </span>
    </center>
  </columns>
</row>
<row dir="rtl">
  <columns dir="rtl" large="12" small="12">
    <center>
      <p class="primary-text text-center bigger-text">
        أو يمكنك التواصل معنا عبر البريد الإلكتروني
      </p>
      <a href="mailto:business@jobzella.com" class="primary-text text-center bigger-text underline">
        
        business@jobzella.com
      </a>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/email-icon.png" alt="">
    </center>
  </columns>
</row>
<spacer size="30"></spacer>
{{>footer}}

</container>