---
subject: لقد أوشك الخصم المبكر على الإنتهاء |  شارك في أكبر ملتقى توظيفي لذوي الإحتياجات الخاصة
adddressed-name: (X)
main-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.himmetna.com/public/himmetna/events/N2dar_Presentation.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Second-email-Email-For-Companies-second-email-main-image.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text"> 
        أهلاً <strong> *|username|* </strong> ،
      </p>
      <p class="primary-text text-right bigger-text">
        ما زالت أمامك الفرص لتعيين أفضل الكفاءات من ذوي القدرات الخاصة، عند انضمامك لملتقى توظيف نقدر - أكبر ملتقى توظيف لذوي القدرات الخاصة في مصر.
      </p>
    </columns>
  </row>
  <row dir="rtl" class="orange-bg">
    <columns class="no-padding" dir="rtl" large="12" small="12">
      <center>
        <p class="white-text text-center bigger-text no-margin">
          <strong>
            انضم لأكبر الشركات والهيئات
          </strong>
          </p>
        </center>
      </columns>
    </row>
    {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Second-email-Email-For-Companies-second-email-logos2.png"}}
    {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Second-email-Email-For-Companies-image-middle.jpg"}}

    <spacer size="10"></spacer>
    <row dir="rtl">
      <columns dir="rtl" large="12" small="12">
        <p class="primary-text text-center bigger-text">
          <strong>
              احجز مكانك الآن بأسعار تبدأ من
          </strong>
        </p>
      </columns>
    </row>
    <row dir="rtl">
      <columns dir="rtl" large="12" small="12">
        <center>
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/Nedaar-Second-email-Email-For-Companies-second-email-button-discount.png" alt="">
        </center>
      </columns>
    </row>
    
    <spacer size="10"></spacer>
      <row dir="rtl">
        <columns dir="rtl" large="12" small="12">
          <p class="primary-text text-center bigger-text">
            <strong>
                للإستعلام عن الرعاية وباقات الاشتراك في الملتقى 
            </strong>
          </p>
        </columns>
      </row>
  <row>
    <columns dir="rtl" large="2"></columns>
    <columns dir="rtl" large="8" small="12">
      <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center" dir="rtl"> إضغط هنا </span> </center> </button>
    </columns>
    <columns large="2"></columns>
  </row>
  <row>
    <center>
      <columns large="11" small="11">
        <hr class="hr hr--primary"/>
      </columns>
    </center>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <center>
        <p class="primary-text text-center bigger-text">
          وللاشتراك وحجز مكانك يمكنك الإتصال على:
        </p>
      </center>
    </columns>
  </row>
  <row>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01000897242
        </span>
      </center>
    </columns>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01000897690
        </span>
      </center>
    </columns>
    
  </row>
  <row>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01013644422
        </span>
      </center>
    </columns>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          01013644488
        </span>
    </center>
  </columns>
</row>
<row>
  <columns dir="rtl" large="12" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
      <span class="primary-text bigger-text" >
        01013352227
      </span>
    </center>
  </columns>
</row>
<row dir="rtl">
  <columns dir="rtl" large="12" small="12">
    <center>
      <p class="primary-text text-center bigger-text">
        أو يمكنك التواصل معنا عبر البريد الإلكتروني
      </p>
      <a href="mailto:business@himmetna.com" class="primary-text text-center bigger-text underline">
        
        business@himmetna.com
      </a>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/email-icon.png" alt="">
    </center>
  </columns>
</row>
<spacer size="30"></spacer>
{{>footer}}

</container>