---
subject:  Join the FUE 9th Employment Fair
adddressed-name: Addressed name
main-link: https://docs.google.com/forms/d/e/1FAIpQLSfGYH-tLb8boiMNJNv6RuKXTPEx6iCiY8ExucljGKQ3oIhgJQ/viewform
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://docs.google.com/forms/d/e/1FAIpQLSfGYH-tLb8boiMNJNv6RuKXTPEx6iCiY8ExucljGKQ3oIhgJQ/viewform
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/FUE-9th-Employment-Fair2.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text"> 
        Greetings {{adddressed-name}},
      </p>
      <p class="primary-text bigger-text">
          Jobzella is pleased to invite you to attend the Legal Web III conference hosted by the RISC legal academy in partnership with Jobzella. The event will be held on the 3rd of March, 2018 in the Royal Maxim Palace Kempinski. Get a chance to be part of the quintessential foundation of human development.
      </p>
      <p class="primary-text bigger-text">
          The New platform of sustainable development
      </p>
      <p class="primary-text bigger-text">
          Join the quest to help to help developing all participating sectors
      </p>
      <p class="primary-text bigger-text">
          The biggest legal event in the Middle East
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        <strong>
          Why Attend the 3rd Legal Web Conference?
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        Attend workshops given by experts in top legal firms.
      </p>
      <p class="primary-text bigger-text">
        Engage in R.I.S.C Law vibes.
      </p>
      <p class="primary-text bigger-text">
        Find internship and job opportunities.
      </p>
      <p class="primary-text bigger-text">
        Amazing Networking opportunities with other professionals in the field.
      </p>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        <strong>
          Conference Objectives
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        Bridging gaps … Connecting generations.
      </p>
      <p class="primary-text bigger-text">
        Engaging in proper sustainable development.
      </p>
      <p class="primary-text bigger-text">
        Ensure that we’re up to date with the modern world and its strategies.
      </p>
      <spacer size="10"></spacer>
      <p class="primary-text bigger-text">
        Do not miss the opportunity to network with the elites of the field. Meet the giants of the trade and mingle with likeminded professionals. Don’t let this amazing networking and learning prospect pass you by.
      </p>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text text-center bigger-text">
        <strong>
            To Sign Up for The Legal Web III Conference.
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
    <columns large="6" small="12">
      <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center">  Click here </span> </center> </button>
    </columns>
    <columns large="3"></columns>
  </row>

  {{>footer}}
</container>
