---
subject: سواعد- شارك في أكبر ماتقى توظيفي و توطين في المملكة
adddressed-name: ...
main-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/Sawaed+Arabic+Presentation.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/Sawaed+Arabic+Presentation.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Swa3ed-Header-image-2.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text"> 
        مرحباً {{adddressed-name}}،
      </p>
      <p class="primary-text text-right bigger-text">
        تدعوكم شركة جوبزيلا إحدى شركات مجموعة الخليج للتدريب والتعليم، إلى المشاركة في "معرض توظيف وتدريب سواعد"، الذي يُعد أكبر معرض توظيف وتوطين بالمملكة، من أجل ضخ عدد كبير من فرص العمل التي تلائم وتناسب إحتياجات السوق السعودي وكذلك الشباب السعودي، بالإضافة لفرص تدريب وتطوير لا حصر لها، مُقدمة من أكبر الشركات الرائدة المتخصصة في مجال التدريب داخل المملكة.‎‎
      </p>
      <spacer size="20"></spacer>
      <center>
        <p class="primary-text text-right bigger-text underline">
          لماذا عليك أن تشارك في معرض توظيف وتدريب سواعد؟
        </p>
      </center>
    </columns>
  </row>
  <row>
    <columns dir="rtl" large="2" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/6.png" alt="">
        <center>
          <p class="text-center primary-text"> 
            المقابلات الشخصية الفورية
          </p>
        </center>
      </center>
    </columns>
    <columns dir="rtl" large="2" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/5.png" alt="">
        <center>
          <p class="text-center primary-text"> 
            التسويق والترويج لعلامتك التجارية
          </p>
        </center>
      </center>
    </columns>
    <columns dir="rtl" large="2" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/4.png" alt="">
        <center>
          <p class="text-center primary-text"> 
            بناء العلاقات المتبادلة بين شركتك والشركات الأخرى
          </p>
        </center>
      </center>
    </columns>
    <columns dir="rtl" large="2" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/3.png" alt="">
        <center>
          <p class="text-center primary-text"> 
            التغطية الإعلامية الكبرى
          </p>
        </center>
      </center>
    </columns>
    <columns dir="rtl" large="2" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/2.png" alt="">
        <center>
          <p class="text-center primary-text"> 
            التواصل المباشر مع الباحثين عن عمل وجهًا لوجه
          </p>
        </center>
      </center>
    </columns>
    <columns dir="rtl" large="2" small="6">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/1.png" alt="">
        <center>
          <p class="text-center primary-text"> 
            المسؤولية الوطنية والإجتماعية
          </p>
        </center>
      </center>
    </columns>
  </row>
  
  <spacer size="20"></spacer>
  <row>
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text bordered-text">
        <strong>
            لا تفوت فرصة لقاء أصحاب المهارات والخبرات المختلفة، وانضم لأكبر الشركات والهيئات المشاركة في معرض توظيف وتدريب سواعد
        </strong>
      </p>
      <spacer size="10"></spacer>
    </columns>
  </row>
  <spacer size="10"></spacer>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/swaeedemail1-logos.png" linked="1"}}
  <spacer size="20"></spacer>
  <row>
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-center bigger-text">
        <strong>
          للإستعلام عن الرعاية وباقات الاشتراك في المعرض
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns dir="rtl" large="3"></columns>
    <columns dir="rtl" large="6" small="12">
      <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center" dir="rtl"> إضغط هنا </span> </center> </button>
    </columns>
    <columns large="3"></columns>
  </row>
  <row dir="rtl">
    <columns dir="rtl" large="12" small="12">
      <center>
        <p class="primary-text text-right bigger-text underline">
          وللاشتراك وحجز مكانك يمكنك الإتصال على:
        </p>
      </center>
    </columns>
  </row>
  <row>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          0500560864
        </span>
      </center>
    </columns>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
    <span class="primary-text bigger-text" >
      0595248081
    </span>
    </center>
  </columns>

</row>
<row>
  <columns dir="rtl" large="6" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
      <span class="primary-text bigger-text" >
        0582807097
        </span>
      </center>
    </columns>
    <columns dir="rtl" large="6" small="12">
      <center>
        <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Vector-Smart-Object-copy-9.png" alt="">
        <span class="primary-text bigger-text" >
          0558259044
      </span>
    </center>
  </columns>
</row>
<spacer size="30"></spacer>
  
{{>footer}}
</container>
