---
subject: Jobzella’s Second Career Fair 2017
adddressed-name: Company Name
main-link: https://www.jobzella.com/Jobzella-Second-Career-Fair-2017
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.jobzella.com/Jobzella-Second-Career-Fair-2017
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/fourth-mail-companies-header-image.jpg" linked="1"}}
  <spacer size="20"></spacer>

  <row>
    <columns large="12" small="12">
      <h4 class="primary-text"> 
        Dear {{adddressed-name}},
      </h4>
      <p class="primary-text">
        This is to inform you that only 2 booths are left at <a href="{{job-fair-link}}"> <strong> Jobzella’s Second Career Fair 2017 @ The GrEEK Campus</strong> </a>, which is going to be held on December 9, 2017. Don’t miss the opportunity to join the biggest career fair in Egypt, with more than 50+ top employers and 11+ education institutions in all industries.
      </p>

      <p class="primary-text bigger-text">
        See who is joining  Jobzella’s Second Career Fair:
      </p>
    </columns>
  </row>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/Cover-Sponsors-copy.jpg"}}
  <spacer size="20"></spacer>  
  <row>
    <columns large="12" small="12">
      <p class="primary-text">
        In addition we are pleased to announce some key speakers who will attend the event and share their inspirational stories and experiences with all attendees.
      </p>
    </columns>
  </row>
  <spacer size="10"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        Meet our key speakers:        
      </p>
    </columns>
  </row>
  <row>
      <!-- <columns large="1"></columns> -->
      <columns large="4" large="12">
        <center>
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/01-speaker-nader.jpg" alt="">
        </center>
      </columns>
      <columns large="4" large="12">
        <center>
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/02-speaker-dr.khaleed.jpg" alt="">
        </center>
      </columns>
      <columns large="4" large="12">
        <center>
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/03-speaker-dr.ehab_.jpg" alt="">
        </center>
      </columns>
      
      <!-- <columns large="1"></columns> -->
  </row>
  <row>
      <columns large="4" large="12">
        <center>
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/04-speaker-sara.jpg" alt="">
        </center>
      </columns>
      <columns large="4" large="12">
        <center>
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/05-speaker-andrew.jpg" alt="">
        </center>
      </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <center>
        <strong class="primary-text text-center">
          <h5>
            <strong>
              Hurry up and book your booth NOW starting from <span class="alert-text bigger-text"> 8,999 EGP </span> only!
            </strong>
          </h5>
        </strong>
      </center>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <center>      
        <h5 class="text-center primary-text">
          <strong>
            For more information about sponsership and participation packages,
          </strong>
        </h5>
      </center>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
      <columns large="6" small="12">
          <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> Download the presentation </span> </center> </button>
      </columns>
    <columns large="3"></columns>
  </row>  
  {{>jobfair-footer}} 
  {{>footer}}
</container>
