---
subject:  Join the FUE 9th Employment Fair
addressed-name: Addressed name
main-link: http://services.fue.edu.eg/EmploymentFair/
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: http://services.fue.edu.eg/EmploymentFair/
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/FUE-9th-Employment-Fair-Jobsekkers-imagemain.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text"> 
        Greetings <strong> *|username|* </strong> ,
      </p>
      <p class="primary-text bigger-text">
        <strong>Jobzella</strong>  is pleased to announce the <strong>Future University in Egypt’s 9th recruitment fair</strong>. Get the chance to apply to different jobs in various fields. Meet professionals, network with established people in the business and find your dream job. Still studying? Don’t pass the opportunity to find the perfect internship. Grab the opportunity to meet with over 50 reputable companies and get your name out there.
      </p>
    </columns>
  </row>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/03/FUE-9th-Employment-Fair-Jobsekkers-second-image.jpg"}}
  <spacer size="20"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        <strong>
            Your first step in your professional career starts now. Don’t miss the first stepping stone on the road to professionalism. So prepare your CVs and get ready for the first phase of the rest of your life.
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
    <columns large="6" small="12">
      <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center">  Register Now </span> </center> </button>
    </columns>
    <columns large="3"></columns>
  </row>
  {{>user-footer}}  

  {{>footer}}
</container>
