---
subject: Jobzella’s Second Career Fair 2017
applicant-name: Applicant Name
main-link: https://www.jobzella.com/en/events/view/jobzellas-second-career-fair-2017-at-jobzellacom-in-egypt-cairo-768
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.jobzella.com/en/events/view/jobzellas-second-career-fair-2017-at-jobzellacom-in-egypt-cairo-768
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/02-JOB-SEEKERS-main-images.jpg" linked="1"}}
  <spacer size="20"></spacer>

  <row>
    <columns large="12" small="12">
      <h4 class="primary-text"> 
        Dear {{applicant-name}},
      </h4>
      <p class="primary-text">
        When it comes to your career, nothing beats <a href="{{job-fair-link}}"> <strong> Jobzella’s Second Career Fair 2017 @ The GrEEK Campus</strong>, which will be held on December 9, 2017. </a>Whatever your job role, industry or career level, this is your only chance to meet and have direct contact and instant interviews and meetings with 50+ top employers, 10+ education institutions and some of the most inspirational and successful professionals in Egypt. And whether  you are looking for a scholarship, a training course, a certificate/degree, or your dream job, Jobzella is here to help you.. all under one roof and in the same day!
      </p>

      <p class="primary-text">
        Remember, it is not only about what you know, but also who you know, for that reason Jobzella is offering you a great opportunity to network and meet key influencers and speakers to share thoughts and experiences which will open the doors to endless opportunities.         
      </p>
    </columns>
  </row>

  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/11/Sponsers-till-17nov.jpg"}}
  
  <row>
    <columns large="12" small="12">
      <center>      
        <h5 class="text-center primary-text">
          <strong>
            Don't miss your chance and join the event now, by using your <a href="{{jobzella-link}}"> <strong class="secondary-text"> Jobzella </strong> </a> account
          </strong>
        </h5>
      </center>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
      <columns large="6" small="12">
          <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> JOIN NOW </span> </center> </button>
      </columns>
    <columns large="3"></columns>
  </row>

  <row>
    <columns large="4" small="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Place.png">
      </center>
    </columns>
    <columns large="4" small="12">
      <center>          
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Fair-Data.png">
      </center>    
    </columns>
    <columns large="4" small="12">
      <center>          
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Time.png">
      </center>    
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <h5 class="primary-text">
          Wish you the best of luck and success,
      </h5>
      <h5 class="primary-text">
          The Jobzella Team
      </h5>
    
    </columns>
  </row>
  
  {{>user-footer}}  
  {{>footer}}
</container>
