---
subject: Jobzella’s Second Career Fair 2017
adddressed-name: Applicant Name
main-link: https://www.jobzella.com/en/events/view/jobzellas-second-career-fair-2017-at-jobzellacom-in-egypt-cairo-768
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://www.jobzella.com/en/events/view/jobzellas-second-career-fair-2017-at-jobzellacom-in-egypt-cairo-768
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Main-Image-speakers.jpg" linked="1"}}
  <spacer size="20"></spacer>

  <row>
    <columns large="12" small="12">
      <h4 class="primary-text"> 
        Dear {{adddressed-name}},
      </h4>
      <p class="primary-text">
        Less than a week from today, <a href="{{job-fair-link}}"> <strong> Jobzella's Second Career Fair </strong></a>, will take place <strong> @The Greek Campus </strong>, and we don’t want you to miss it.
      </p>
      <p class="primary-text">
        Our career fair will be all day long from 10:00 am to 6:00 pm, where you can access thousands of jobs, training courses, scholarships, and insightful speeches. This year, we planned to bring key speakers to share their success stories and their tips for better career path. The career fair stage hosts a number of influencers in Egypt.
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
  <row>
    <columns large="12" small="12">
      <center>
        <p class="primary-text bigger-text text-center">
          Meet our key speakers       
        </p>
      </center>
    </columns>
  </row>
  <row>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers01.png" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers02.jpg" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers03.jpg" alt="">
      </center>
    </columns>
  </row>
  <row>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers04.jpg" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers05.png" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers06.png" alt="">
      </center>
    </columns>
  </row>
  <row>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers07.png" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers08-1.png" alt="">
      </center>
    </columns>
    <columns large="4" large="12">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Speakers09.png" alt="">
      </center>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <center>
        <strong class="primary-text text-center">
          <h5 class="text-center">
            <strong>
              Don't miss the chance and join the event now.
            </strong>
          </h5>
        </strong>
      </center>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
      <columns large="6" small="12">
          <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center"> JOIN NOW </span> </center> </button>
      </columns>
    <columns large="3"></columns>
  </row>  
  <row>
      <columns large="4" small="12">
        <center>
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Place.png">
        </center>
      </columns>
      <columns large="4" small="12">
        <center>          
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Fair-Data.png">
        </center>    
      </columns>
      <columns large="4" small="12">
        <center>          
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/12/Time.png">
        </center>    
      </columns>
    </row>
    <spacer size="30"></spacer>
  {{>user-footer}}
  {{>footer}}
</container>
