---
subject: Join the 17th MIU Employment Fair
adddressed-name: Company name
main-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/The+17th+MIU+Employment+Fair_2018.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/The+17th+MIU+Employment+Fair_2018.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/MIU-Employment-Fair-main-image.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text"> 
        Greetings {{adddressed-name}},
      </p>
      <p class="primary-text bigger-text">
          Jobzella is pleased to invite you to attend the Misr international University employment Fair which will be held on the 21st of April, 2018. Find and meet with the best youth education has to offer to fill your vacancies and use this great networking opportunity to further solidify your brand in the Egyptian Job Market.
      </p>
    </columns>
  </row>
  <row>
    <columns small="12" large="4">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/MIU-Employment-Fair-icon01.png" alt="">
      </center>
    </columns>
    <columns small="12" large="4">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/MIU-Employment-Fair-icon02.png" alt="">
      </center>
    </columns>
    <columns small="12" large="4">
      <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/MIU-Employment-Fair-icon03.png" alt="">
      </center>
    </columns>
  </row>
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/MIU-Employment-Fair-second-image2.jpg" linked="1"}}
  <spacer size="20"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        <strong>
          Why take part in this Year’s MIU job Fair?
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
          1- Company & Brand Exposure
      </p>
      <p class="primary-text bigger-text">
          2- A wide pool of qualified applicants to match your work needs
      </p>
      <p class="primary-text bigger-text">
          3- Meet prospective employees face to face

      </p>
      <p class="primary-text bigger-text">
          4- Amazing Networking opportunities with other companies in similar and diverse sectors
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        <strong>
          Why take part in this Year’s MIU job Fair? 
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        1- Establish a communication channel between job seekers and companies
      </p>
      <p class="primary-text bigger-text">
        2- Help Fresh graduates & alumni find their life’s calling
      </p>
      <p class="primary-text bigger-text">
        3- Aid students in finding appropriate training opportunities
      </p>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="success-text bigger-text">
        <strong>
          Do not miss the opportunity to meet qualified applicants and don’t let this amazing networking prospect pass you by.
        </strong>
      </p>
    </columns>
  </row>
  <row>
    <columns large="12" small="12">
      <center>
        <p class="primary-text bigger-text text-center">
          <strong>
            To find out more about Jobzella’s MIU job fair
          </strong>
        </p>
      </center>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
    <columns large="6" small="12">
      <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center">  Click here </span> </center> </button>
    </columns>
    <columns large="3"></columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text"> 
        For Subscriptions & Registration please call:
      </p>
      <p class="primary-text">
          01000897242
      </p>
      <p class="primary-text">
          01000897690
      </p>
      <p class="primary-text">
          01013644422
      </p>
      <p class="primary-text">
          01013644488
      </p>
      <p class="primary-text">
          01013352227
      </p>
    </columns>
  </row>

  {{>footer}}
</container>
