---
subject: Join Future University Employment Fair
adddressed-name: Company name
main-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/FUE+9th+Employment+Fair.pdf
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://s3-eu-west-1.amazonaws.com/jobzella-static/pdf/FUE+9th+Employment+Fair.pdf
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/FUE-9th-Employment-Fair-main-image.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text"> 
        Greetings {{adddressed-name}},
      </p>
      <p class="primary-text bigger-text">
          Jobzella is pleased to invite you to the 9th “Future University In Egypt’s” recruitment fair. Get a chance to meet up with job seekers for an easier and more effective hiring campaign. Get your company name out there through this great networking opportunity and meet other professionals and find opporunities for cooperation and expansion.
      </p>
      <p class="primary-text bigger-text">
          The FUE fair gives you the chance to see & meet Over 5000 Job Seekers and network with the 50+ Companies participating.
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text bigger-text">
        <strong>
          Don’t miss the chance to mingle with experts from top firms around Egypt. Hurry up and register for this amazing networking opportunity.
        </strong>
      </p>
      <spacer size="10"></spacer>
    </columns>
  </row>
  <row>
    <columns large="3"></columns>
    <columns large="6" small="12">
      <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center">  Check the presentation </span> </center> </button>
    </columns>
    <columns large="3"></columns>
  </row>
  <row>
    <columns large="12" small="12">
      <p class="primary-text text-center"> 
          Al Tagamoa El Khames , Main Center of Town , End of 90th street
      </p>
      <p class="primary-text text-center">
          Cairo, Egypt
      </p>
      <p class="primary-text text-center">
          Mobile: (+2) 01012249396
      </p>
      <p class="primary-text text-center">
          Zip Code:11835
      </p>
      <p class="primary-text text-center">
          Fax:(+202) 261-86-111
      </p>
      <p class="primary-text text-center">
          E-mail: <a href="mailto:Hazem.Elsherif@fue.edu.eg"> Hazem.Elsherif@fue.edu.eg </a>
      </p>
      <p class="primary-text text-center">
          Hot Line: (+202) 16383
      </p>
      <p class="primary-text text-center">
          Website: <a href="http://www.fue.edu.eg" > http://www.fue.edu.eg </a> 
      </p>
    </columns>
  </row>

  {{>footer}}
</container>
