---
subject: Jobzella’s Second Career Fair 2017
adddressed-name: Applicant Name
main-link: https://goo.gl/YydPHE
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://goo.gl/YydPHE
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  <spacer size="30"></spacer>
  <row>
    <columns large="12" small="12">
      <p class="primary-text"> 
        Dear {{adddressed-name}},
      </p>
      <p class="primary-text">
        We have some great news for you!
      </p>
      <p class="primary-text">
        As a member of Jobzella you are now eligible for a <strong> 10% exclusive discount </strong> when you register for the <strong> 6th Misr HRians Conference</strong>, Egypt’s Biggest ever HR Conference, taking place on <strong> 3, 4th March, 2018 in Cairo, Intercontinental City Stars </strong>.
      </p>
      <center>
        <a class="underline" href="https://goo.gl/YydPHE">
          <strong>
            Register Here and Get your 10% Exclusive Discount off The Original Price
          </strong>
        </a>
      </center>
      <spacer size="10"></spacer>
      <p class="primary-text">
          <strong> The 6th Misr HRians Conference </strong> includes interactive presentations on the latest challenges in the HR world.
      </p>
    </columns>
  </row>
  
  {{>hero image="https://i.imgur.com/0FfG2mU.jpg" linked="1"}}
  <spacer size="20"></spacer>

      <row>
        <columns large="12" small="12">
          <p class="primary-text" style="background-color: #f2e3ee">
              <strong> Remember </strong> For 3 or more delegates from your company we can also create a SPECIAL GROUP PACKAGE just for you! Don’t think twice! Join us today at Egypt’s Biggest ever HR Conference
          </p>
          <p class="primary-text">
            As a member of Jobzella you are now eligible for a 10% exclusive discount when you register for the 6th Misr HRians Conference, Egypt’s Biggest ever HR Conference, taking place on 3, 4th March, 2018 in Cairo, Intercontinental City Stars.
          </p>
          <center>
            <a class="underline" href="https://goo.gl/YydPHE">
              <strong>
                Register Now
              </strong>
            </a>
          </center>
          <spacer size="10"></spacer>
          <p class="primary-text">
              Our speakers and I look forward to welcoming you at the 6th Misr HRians Conference on 3,4th March, 2018  in Cairo, Intercontinental City Stars.
          </p>
          <p class="primary-text">
              With kindest regards,
          </p>
        </columns>
      </row>

  {{>user-footer}}
  {{>footer}}
</container>
