---
subject: Jobzella’s Second Career Fair 2017
adddressed-name: Applicant Name
main-link: https://goo.gl/feUwtk
unsubscribe-link: https://www.jobzella.com/my-account
job-fair-link: https://goo.gl/feUwtk
jobzella-link: https://jobzella.com
---

<container>
  {{>header}}
  {{>hero image="https://static-files.jobzella.com/blog/wp-content/uploads/2018/02/Berlitz-%D8%A7header-image.jpg" linked="1"}}
  <spacer size="30"></spacer>
  <row>
    <columns dir="rtl" large="12" small="12">
      <p class="primary-text text-right bigger-text"> 
        أهلاً {{adddressed-name}},
      </p>
      <p class="primary-text text-right bigger-text">
        الخطوة الأولى دائمًا هي الأكثر صعوبة، لكن ماذا لو أتيحت لك الفرصة لتخطي صعوبتها؟!
      </p>
      <p class="primary-text text-right bigger-text">
        تدعوكم <strong> شركة جوبزيلا </strong>  للتسجيل في برنامج "طريقك لسوق العمل"، والذي تُقدمه جمعية التطوير والتنمية بالتعاون مع شركة Berlitz ، للخريجين  في محافظة القاهرة حتى سن 27 عام، بهدف تطوير مهاراتهم، وإمكاناتهم، وتدريبهم على المتطلبات، والإحتياجات التى يحتاج إليها سوق العمل المصري.
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
      <row>
        <columns dir="rtl" large="12" small="12">
          <p class="primary-text text-right bigger-text">
            <strong>
              تحديد مستقبلك المهني، وتطوير مهاراتك، والدخول لسوق العمل، أصبح أكثر سهولة!
            </strong>
          </p>
          <spacer size="10"></spacer>
        </columns>
      </row>
      <row>
        <columns dir="rtl" large="3"></columns>
          <columns dir="rtl" large="6" small="12">
              <button class="button success large radius small-expanded" href="{{main-link}}"> <center> <span class="text-center" dir="rtl"> سجل الآن! </span> </center> </button>
          </columns>
        <columns large="3"></columns>
      </row>

  {{>user-footer}}
  {{>footer}}
</container>
