<row class="himmetna-bg" dir="rtl">
  <columns class="himmetna-bg">
    <center>
      <spacer class="himmetna-bg" size="30"></spacer>
      <h5 class="himmetna-bg text-center">عايز متفوتش أي فرصة؟ تـابعنا على </h5>
    </center>
  </columns>
</row>
<row class="himmetna-bg">
  <columns large="12" small="12" class="himmetna-bg">
    <center>
      <a target="_blank" href="https://www.facebook.com/himmetna/">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/fb-icon.png" class="img-inline logo-img">
      </a>
      <a target="_blank" href="https://twitter.com/Himmetna_Egypt">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/twitter-icon.png" class="img-inline logo-img">
      </a>
      <a target="_blank" href="https://www.instagram.com/himmetna/">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/instagram-icon.png" class="img-inline logo-img">
      </a>
    </center>
  </columns>
</row>
<row class="himmetna-bg">
  <columns class="himmetna-bg">
    <center>
      <p class="himmetna-bg text-center">©2018 <a href="{{himmetna-link}}"><span class="no-link">Himmetna.com</span></a> | جميع الحقوق محفوظة</p>
    </center>
  </columns>
</row>