<row class="primary-bg">
  <columns large="12" small="12" class="primary-bg">
    <spacer class="primary-bg" size="30"></spacer>
      <center>
        <h5 class="primary-bg text-center">Don’t forget to find out more inspiration through <a class="secondary-link" href="{{jobzella-link}}">Jobzella</a> on</h5>
      </center>
  </columns>
</row>
<row class="primary-bg">
  <columns large="12" small="12" class="primary-bg">
    <center>
      <a href="https://www.jobzella.com/jobzella">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/jobzella-icon.png" class="img-inline logo-img">
      </a>
      <a href="https://www.facebook.com/jobzella">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/fb-icon.png" class="img-inline logo-img">
      </a>
      <a href="https://twitter.com/jobzella">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/twitter-icon.png" class="img-inline logo-img">
      </a>
      <a href="https://www.youtube.com/jobzella">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/youtube-icon.png" class="img-inline logo-img">
      </a>
      <a href="https://plus.google.com/+jobzella">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/g-icon.png" class="img-inline logo-img">
      </a>
      <a href="https://www.pinterest.com/jobzella/">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/pint-icon.png" class="img-inline logo-img">
      </a>
      <a href="https://instagram.com/jobzella">
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/instagram-icon.png" class="img-inline logo-img">
      </a>
    </center>
  </columns>
</row>
<row class="primary-bg">
  <columns large="12" small="12" class="primary-bg">
    <center>
      <h5 class="primary-bg text-center">Want to unsubscribe? <a class="secondary-link" href="{{unsubscribe-link}}">Change your email preference</a></h5>
    </center>
  </columns>
</row>
<row class="primary-bg">
  <columns large="12" small="12" class="primary-bg">
    <center>
      <p class="primary-bg text-center">© 2013-2018 Jobzella.com | All rights Reserved.</p>
    </center>
  </columns>
</row>