<row class="collapse logo-header">
    <columns>
      <center>
        <a href="{{jobzella-link}}">
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Header-Logo-big.png">
        </a>
      </center>
    </columns>
  </row>