<row class="collapse logo-header">
    <columns class="no-padding">
      <center>
        <a href="{{himmetna-link}}">
          <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Header-Himmetna-Logo-800x132.png">
        </a>
      </center>
    </columns>
  </row>