<!-- PARAMS
  IMAGE: tHE SRC ATTRIBUTE OF THE HEADER IMAGE
  LINKED: WHETHER THE IMAGE HAS A LINK TO THE MAIN LINK
  -->

<row class="collapse">
    <columns class="no-padding" large="12" small="12">
      <center>
        {{#if linked}}
        <a href="{{main-link}}">
          <img src="{{image}}">
        </a>
        {{else}}
        <img src="{{image}}">        
        {{/if}}
      </center>
    </columns>
  </row>