
<row>
  <columns class="show-for-large" large="{{first}}">
    <hr class="hr hr--primary">    
  </columns>
  <columns large="{{middle}}" small="12">
    <h4 class="primary-text text-center"> {{title}} </h4>      
  </columns>
  <columns class="show-for-large" large="{{last}}">
    <hr class="hr hr--primary">    
  </columns>
</row>