<row>
  <columns large="6">
  <hr class="hr hr--primary">  
  </columns>
</row>

<spacer size="10"></spacer>

<row>
  <center>
    <h5 class="text-center primary-text">
      To reserve and book your booth, please call
    </h5>
  </center>
</row>
<row>
  <columns large="6" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png">
      <strong class="primary-text text-center"> +(202) 279 31 593 </strong>
    </center>
  </columns>
  <columns large="6" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/Phone-icon.png">
      <strong class="primary-text text-center"> +(202) 279 31 594 </strong>
    </center>
  </columns>
</row>
<row>
  <columns large="6" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
      <strong class="primary-text text-center"> +(2010) 0089 7690 </strong>
    </center>
  </columns>
  <columns large="6" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
      <strong class="primary-text text-center"> +(2010) 0089 7242 </strong>
    </center>
  </columns>
</row>
<row>
  <columns large="6" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
      <strong class="primary-text text-center"> +(2010) 0072 5461 </strong>
    </center>
  </columns>
  <columns large="6" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
      <strong class="primary-text text-center"> +(2010) 0072 5462 </strong>
    </center>
  </columns>
</row>
<row>
  <columns large="12" small="12">
    <center>
      <img class="img-inline" src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/mobile-icon.png">
      <strong class="primary-text text-center"> +(2010) 0072 5396 </strong>
    </center>
  </columns>
</row>
<row>
  <center>
    <h5 class="text-center primary-text">
      Or reply to this email: <a class="link-hover underline" href="mailto:sales@jobzella.com">sales@jobzella.com</a>
    </h5>
  </center>
</row>
<row>
    <h5 class="text-center primary-text">
        Thank you and best regards,
    </h5>
</row>
