<spacer size="40"></spacer>

<row>
  <columns large="{{first}}" small="12">
    <h4 class="purple-text text-center"> {{title}} </h4>      
  </columns>
  <columns class="show-for-large" large="{{last}}">
    <hr class="hr hr--purple">    
  </columns>
</row>