<row class="app-footer collapse">
  <columns large="12" small="12">
    <center>
        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2017/10/download-small-WITH-TEXT.jpg">
    </center>
  </columns>
</row>
<row class="app-footer collapse">
  <columns large="3" small="2"></columns>
  <columns large="3" small="4">
      <a href="https://play.google.com/store/apps/details?id=com.jobzella.jobzellapp">
        <center>

            <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/play-store_03.png">
          </center>

      </a>
  </columns>
  <columns large="3" small="4">
    <a href="https://itunes.apple.com/eg/app/jobzella/id1092959138">
      <center>

        <img src="https://static-files.jobzella.com/blog/wp-content/uploads/2016/05/Jobs-Newsletter-New_16.png">
      </center>

    </a>
  </columns>
  <columns large="3" small="2"></columns>  
</row>